<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Ozer Kuaför</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">Ana Sayfa</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Salon" asp-action="CustomerLogin" class="nav-link">Kişisel Bilgiler</a>
            </li>
        </ul>
    </div>
</nav>
