<h1> Buraya sadece SESSION'a kaydedilmiş, yani Kimlik DOğrulaması başarılı olmuş kullanıcı girebilir. </h1>
<br

<h2> Session User: @Context.Session.GetString("SessionUser") </h2>

<h1>Admin</h1>


<br />
<br />


<h2> Session Object : @Context.Session.GetString("SessionUsrObject")</h2>